* {
    margin: 0;
}

/* For extremely small screen devices (595px and below) */
// Mobile Phones (Portrait)
@media screen and (max-width: 600px) {
    body {
        background-color: darkblue;
        height: 100vh;
        .main_container {
            background-color: black;
            .navbar {
                display: none;
            }
            .section_one {
                border: 10px solid orange;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                height: 100vh;
                color: orange;
                .section_title {
                    font-size: clamp(1rem, 2rem, 3rem);
                }
                .section_photo {
                    #logo_one {
                        width: 100px;
                        height: 100px;
                    }
                }
                .section_words {
                    text-align: center;
                    font-size: clamp(.8rem, 1.2rem, 2rem);
                }
                .section_size {
                    font-size: clamp(1rem, 2rem, 3rem);
                    font-family: 'Courier New', Courier, monospace;
                    #smallest {
                        display: flex;
                        color: orange;
                    }
                    #smaller {
                        display: none;
                    }
                    #medium {
                        display: none;
                    }
                    #large {
                        display: none;
                    }
                    #largest {
                        display: none;
                    }
                    #ex-large {
                        display: none;
                    }
                    #ex-ex-large {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Small screen devices (601px and above) */
@media screen and (min-width: 601px) {
    body {
        background-color: darkred;
        height: 100vh;
        .main_container {
            background-color: black;
            .navbar {
                display: none;
            }
            .section_one {
                border: 10px solid blue;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                height: 100vh;
                color: blue;
                .section_title {
                    font-size: clamp(1rem, 2rem, 3rem);
                }
                .section_photo {
                    #logo_one {
                        width: 100px;
                        height: 100px;
                    }
                }
                .section_words {
                    text-align: center;
                    font-size: clamp(.8rem, 1.2rem, 2rem);
                }
                .section_size {
                    font-size: clamp(1rem, 2rem, 3rem);
                    font-family: 'Courier New', Courier, monospace;
                    #smallest {
                        display: none;
                    }
                    #smaller {
                        display: flex;
                        color: blue;
                    }
                    #medium {
                        display: none;
                    }
                    #large {
                        display: none;
                    }
                    #largest {
                        display: none;
                    }
                    #ex-large {
                        display: none;
                    }
                    #ex-ex-large {
                        display: none;
                    }
                }    
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: darkgreen;
        height: 100vh;
        .main_container {
            background-color: black;
            .navbar {
                display: none;
            }
            .section_one {
                border: 10px solid darkgreen;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                height: 100vh;
                color: darkgreen;
                .section_title {
                    font-size: clamp(1rem, 3rem, 5rem);
                }
                .section_photo {
                    #logo_one {
                        width: 100px;
                        height: 100px;
                    }
                }
                .section_words {
                    text-align: center;
                    font-size: clamp(.8rem, 2rem, 3rem);
                }
                .section_size {
                    font-size: clamp(1rem, 2.5rem, 3rem);
                    #smallest {
                        display: none;
                    }
                    #smaller {
                        display: none;
                    }
                    #medium {
                        display: flex;
                        color: darkgreen;
                    }
                    #large {
                        display: none;
                    }
                    #largest {
                        display: none;
                    }
                    #ex-large {
                        display: none;
                    }
                    #ex-ex-large {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Big screen devices (889px and above) */
@media screen and (min-width: 889px) {
    body {
        background-color: darkslategray;
        height: 100vh;
        .main_container {
            background-color: black;
            .navbar {
                display: none;
            }
            .section_one {
                border: 10px solid darkmagenta;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                height: 100vh;
                color: darkmagenta;
                .section_title {
                    font-size: clamp(1rem, 3.5rem, 5rem);
                }
                .section_photo {
                    #logo_one {
                        width: 100px;
                        height: 100px;
                    }
                }
                .section_words {
                    text-align: center;
                    font-size: clamp(.8rem, 2.8rem, 4rem);
                }
                .section_size {
                    font-size: clamp(1rem, 2rem, 3rem);
                    font-family: 'Courier New', Courier, monospace;
                    #smallest {
                        display: none;
                    }
                    #smaller {
                        display: none;
                    }
                    #medium {
                        display: none;
                    }
                    #large {
                        display: flex;
                        color: darkmagenta;
                    }
                    #largest {
                        display: none;
                    }
                    #ex-large {
                        display: none;
                    }
                    #ex-ex-large {
                        display: none;
                    }
                }    
            }
        }
    }
}

/* Extra big screen devices (1200px and above) */
@media screen and (min-width: 1200px) {
    body {
        background-color: darkblue;
        height: 100vh;
        .main_container {
            background-color: black;
            .section_one {
                border: 10px solid darkturquoise;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                height: 100vh;
                color: darkturquoise;
                .section_title {
                    font-size: clamp(1rem, 3.5rem, 5rem);
                }
                .section_photo {
                    #logo_one {
                        width: 100px;
                        height: 100px;
                    }
                }
                .section_words {
                    text-align: center;
                    font-size: clamp(.8rem, 2.8rem, 4rem);
                }
                .section_size {
                    font-size: clamp(1rem, 2rem, 3rem);
                    font-family: 'Courier New', Courier, monospace;
                    #smallest {
                        display: none;
                    }
                    #smaller {
                        display: none;
                    }
                    #medium {
                        display: none;
                    }
                    #large {
                        display: none;
                    }
                    #largest {
                        display: flex;
                        color: darkturquoise;
                    }
                    #ex-large {
                        display: none;
                    }
                    #ex-ex-large {
                        display: none;
                    }
                }    
            }
        }
    }
}

// The LARGEST monitors (1500px and above)
@media screen and (min-width: 1500px) and (max-width: 1899px) {
    body {
        background-color: red;
        height: 100vh;
        .main_container {
            background-color: black;
            .section_one {
                border: 10px solid red;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                height: 100vh;
                color: red;
                .section_title {
                    font-size: clamp(1rem, 4.5rem, 5rem);
                }
                .section_photo {
                    #logo_one {
                        width: 100px;
                        height: 100px;
                    }
                }
                .section_words {
                    text-align: center;
                    font-size: clamp(.8rem, 3rem, 4rem);
                }
                .section_size {
                    font-size: clamp(1rem, 2.5rem, 3rem);
                    font-family: 'Courier New', Courier, monospace;
                    #smallest {
                        display: none;
                    }
                    #smaller {
                        display: none;
                    }
                    #medium {
                        display: none;
                    }
                    #large {
                        display: none;
                    }
                    #largest {
                        display: none;
                    }
                    #ex-large {
                        display: flex;
                        color: red;
                    }
                    #ex-ex-large {
                        display: none;
                    }
                }    
            }
        }
        .card_container {
            container-type: inline-size;
            color: wheat;
        }
    }
}


// The LARGEST monitors (1900px and above)
@media screen and (min-width: 1900px) {
    body {
        background-color: blue;
        height: 100vh;
        .main_container {
            background-color: black;
            .section_one {
                border: 10px solid blue;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                height: 100vh;
                color: blue;
                .section_title {
                    font-size: clamp(1rem, 4.5rem, 5rem);
                }
                .section_photo {
                    #logo_one {
                        width: 100px;
                        height: 100px;
                    }
                }
                .section_words {
                    text-align: center;
                    font-size: clamp(.8rem, 3rem, 4rem);
                }
                .section_size {
                    font-size: clamp(1rem, 2.5rem, 3rem);
                    font-family: 'Courier New', Courier, monospace;
                    #smallest {
                        display: none;
                    }
                    #smaller {
                        display: none;
                    }
                    #medium {
                        display: none;
                    }
                    #large {
                        display: none;
                    }
                    #largest {
                        display: none;
                    }
                    #ex-large {
                        display: none;
                    }
                    #ex-ex-large {
                        display: flex;
                        color: blue;
                    }
                }    
            }
        }
        .card_container {
            container-type: inline-size;
            color: wheat;
        }
    }
}

// Container query for card_container
@container (min-width: 600px) {
    .card_container {
        font-size: 10rem;
        color: red;
    }
}
